/* soft reset css */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* style css */

body {
    background-color: #000000;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 16px;
    height: 100vh;
}

section {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2rem 0;
}
/* breakpoint */

@media (min-width: 400px) {
    body {
        font-size: 14px;
    }
}

@media (min-width: 600px) {
    body {
        font-size: 18px;
    }
}

#contador, .title {
    color: #ffffff;
    font-family: 'Bebas Neue', sans-serif;
    text-align: center;
}

.title {
    font-size: 3em;
}

#contador {
    font-size: 2.5em;
    line-height: 2em;
    padding: 10px;
}

img {
    margin-top: 50px;
    padding: 2em;
    width: 50%;
}

footer {
    background-color: rgba(255, 0, 0);
    display: block;
    margin-top: 20px;
    padding: 40px 5px;
    text-align: center;
}

p {
    font-family: 'Source Code Pro', monospace;
    font-size: 2.5em;
    font-weight: bold;
}